# Introduction to Pandas for Excel Files

## 1. What is Pandas?

Pandas is a Python library primarily used for data manipulation and analysis. It provides two main structures:
- **Series**: 1D labeled data, like a list or array, but with an index.
- **DataFrame**: 2D labeled data, like a table in a spreadsheet or a SQL table. It's the primary structure you will use for working with Excel data.

## 2. Installing Pandas and Dependencies

To use Pandas and read Excel files, you'll need to install both Pandas and **openpyxl** (a library for reading and writing Excel files).

`pip install pandas openpyxl`

## 3. Reading Excel Files with Pandas
The `pandas.read_excel()` function is used to read an Excel file. This function loads the data into a **DataFrame**, which is the object type.

In [2]:
import os
import pandas as pd

# Access the test Excel file path in our project directory
current_directory = os.getcwd()
parent_directory = os.path.dirname(current_directory)

xls_name = r'data.xlsx'
xls_fp = os.path.join(parent_directory, 'test_files', xls_name)

print(xls_fp)

C:\Users\ddesarno\PycharmProjects\uwombp\test_files\data.xlsx

In [3]:
# Read an Excel file into a DataFrame
df = pd.read_excel(xls_fp)

# Display the first few rows of the DataFrame
print(df.head())

      Name             Breed  Age  Weight (kg)  Owner
0      Max  Golden Retriever    5           30   John
1    Bella          Labrador    3           25  Sarah
2  Charlie           Bulldog    4           12  Emily
3     Lucy            Beagle    2            9   Anna
4    Buddy            Poodle    6           10   Mike

## 4. Accessing Data in a DataFrame
A **DataFrame** consists of rows and columns, and you can access data in a variety of ways.

**Accessing Columns**:

You can access a column using either dot notation or the bracket notation (recommended for more complex column names).

In [27]:
# Access a column (returns a Series)
column_data = df['Name']

# Alternatively (if column names don't have spaces or special characters):
column_data = df.Name
print(column_data)

0        Max
1      Bella
2    Charlie
3       Lucy
4      Buddy
Name: Name, dtype: object

**Accessing Rows**:

To access rows, you can use `.iloc[]` or `.loc[]`.
- **.iloc[]**: is used for integer-based indexing (like using NumPy arrays).
- **.loc[]**: is used for label-based indexing (i.e., using the row index name).

In [28]:
# Access a row by index position (integer-based)
row_data = df.iloc[0]  # First row

# Access a specific value at a row and column
value = df.iloc[0, 1]  # Row 0, Column 1

# Access by label (if you know the index or column name)
row_data = df.loc[0]  # First row if the index is 0
value = df.loc[0, 'Name']  # Specific value

print(row_data)
print(value)

Name                        Max
Breed          Golden Retriever
Age                           5
Weight (kg)                  30
Owner                      John
Name: 0, dtype: object
Max

**Slicing DataFrames (similar to NumPy)**:

You can also slice rows or columns using `iloc[]` or `loc[]` just like NumPy arrays:

In [29]:
# Select multiple rows and columns (slicing)
subset = df.iloc[1:5, 2:4]  # Rows 1-4, Columns 2-3
print(subset)

   Age  Weight (kg)
1    3           25
2    4           12
3    2            9
4    6           10

## 5. Handling Excel Sheets and Multiple Sheets

If the Excel file contains multiple sheets, you can specify the sheet to read using the `sheet_name` parameter.

In [31]:
# Reading a specific sheet by name or index
df = pd.read_excel(xls_fp, sheet_name='Sheet2')
# or
df = pd.read_excel(xls_fp, sheet_name=1)  # Second sheet

print(df.head())

     Name            Breed  Age  Weight (kg)    Owner
0     Rex  German Shepherd    3           35    David
1   Daisy        Dachshund    4            8  Jessica
2    Luna   Siberian Husky    2           25  William
3  Cooper            Boxer    5           28   Olivia
4   Rosie   Cocker Spaniel    6           12   Sophia

To read all sheets into a dictionary of DataFrames:

In [32]:
dfs = pd.read_excel(xls_fp, sheet_name=None)
# dfs will be a dictionary where keys are sheet names, and values are DataFrames

for key in dfs:
    print(key)
    print(dfs[key])

Sheet1
      Name             Breed  Age  Weight (kg)  Owner
0      Max  Golden Retriever    5           30   John
1    Bella          Labrador    3           25  Sarah
2  Charlie           Bulldog    4           12  Emily
3     Lucy            Beagle    2            9   Anna
4    Buddy            Poodle    6           10   Mike
Sheet2
     Name            Breed  Age  Weight (kg)    Owner
0     Rex  German Shepherd    3           35    David
1   Daisy        Dachshund    4            8  Jessica
2    Luna   Siberian Husky    2           25  William
3  Cooper            Boxer    5           28   Olivia
4   Rosie   Cocker Spaniel    6           12   Sophia

## 6. Basic Operations on DataFrames

Once you have your data loaded into a DataFrame, you can perform basic operations like filtering, sorting, and summarizing data.

**Filtering**:

You can filter rows based on column values using conditions:

In [33]:
# Get rows where 'Age' column is greater than 4
filtered_data = df[df['Age'] > 4]

print(filtered_data)

     Name           Breed  Age  Weight (kg)   Owner
3  Cooper           Boxer    5           28  Olivia
4   Rosie  Cocker Spaniel    6           12  Sophia

**Sorting**:

To sort data by a column:

In [34]:
# Sort by 'Age' column in ascending order
sorted_data = df.sort_values(by='Age')

# Sort by multiple columns
sorted_data = df.sort_values(by=['Age', 'Name'], ascending=[True, False])

print(sorted_data)

     Name            Breed  Age  Weight (kg)    Owner
2    Luna   Siberian Husky    2           25  William
0     Rex  German Shepherd    3           35    David
1   Daisy        Dachshund    4            8  Jessica
3  Cooper            Boxer    5           28   Olivia
4   Rosie   Cocker Spaniel    6           12   Sophia

**Summary**:

Pandas provides easy ways to perform summary statistics on columns:

In [38]:
# Get summary statistics (mean, std, etc.)
summary = df.describe()

# Get the mean of a column
mean_age = df['Age'].mean()

print(summary)
print(f'\nmean age: {mean_age}')

            Age  Weight (kg)
count  5.000000      5.00000
mean   4.000000     21.60000
std    1.581139     11.28273
min    2.000000      8.00000
25%    3.000000     12.00000
50%    4.000000     25.00000
75%    5.000000     28.00000
max    6.000000     35.00000

mean age: 4.0

## 7. Writing Data Back to Excel

You can write a DataFrame back to an Excel file using `to_excel()`.

In [42]:
# Write DataFrame to an Excel file

sorted_xls_fp = os.path.join(parent_directory, 'test_files', 'sorted_data.xlsx')
sorted_data.to_excel(sorted_xls_fp, index=False)  # index=False to avoid writing the index as a column

## 8. Converting a Pandas DataFrame to a NumPy Array and Back
Once you've loaded your Excel data into a Pandas DataFrame, there might be cases where you want to convert it to a **NumPy array** for certain operations or perform advanced numerical manipulations. After you're done with NumPy operations, you may want to convert it back to a DataFrame for further analysis or to save it as a new file.

**Converting a DataFrame to a NumPy Array**<br>
You can use the `.to_numpy()` method to convert a DataFrame to a NumPy array.

In [43]:
# Convert the DataFrame to a NumPy array
numpy_array = df.to_numpy()

print(numpy_array)

[['Rex' 'German Shepherd' 3 35 'David']
 ['Daisy' 'Dachshund' 4 8 'Jessica']
 ['Luna' 'Siberian Husky' 2 25 'William']
 ['Cooper' 'Boxer' 5 28 'Olivia']
 ['Rosie' 'Cocker Spaniel' 6 12 'Sophia']]

This array is a 2D structure, but note that categorical columns (like Name and Breed) will be represented as strings in the NumPy array. Normally, NumPy has a **homogeneous type**, but in this case will have a general **object** typing. Therefore, be careful if you want to use NumPy functions on numbers and want a homogeneous array.

**Converting a NumPy Array to a DataFrame**:

In [44]:
# Convert the NumPy array back into a DataFrame
df_from_numpy = pd.DataFrame(numpy_array, columns=['Name', 'Breed', 'Age', 'Weight (kg)', 'Owner'])

print(df_from_numpy)

     Name            Breed Age Weight (kg)    Owner
0     Rex  German Shepherd   3          35    David
1   Daisy        Dachshund   4           8  Jessica
2    Luna   Siberian Husky   2          25  William
3  Cooper            Boxer   5          28   Olivia
4   Rosie   Cocker Spaniel   6          12   Sophia

**Selecting only numeric data**
The key here is using the function `.select_dtypes(include=['number'])` on our Dataframe

In [4]:
numeric_columns = df.select_dtypes(include=['number'])

numeric_array = numeric_columns.to_numpy()

print(numeric_columns)
print(numeric_array)

   Age  Weight (kg)
0    5           30
1    3           25
2    4           12
3    2            9
4    6           10
[[ 5 30]
 [ 3 25]
 [ 4 12]
 [ 2  9]
 [ 6 10]]